<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where to Study - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <header>
        <a href="/"><h2 class="logo">Where-to-study</h2></a>
        <nav>
            <div class="menu-items">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                </ul>
        </nav>
        <a class="cta" href="/login"><button>Log-in</button></a>
        <div class="menu-toggle">☰</div> <!-- Added burger menu icon -->
        </div>
    </header>
