<%- include('partials/header') %> <!-- Include the header -->

    <main>
        <div class="first-container">
            <div class="main-title">
                <h1>Find Your Next Work / Study Place</h1>
                <h2>Looking for the perfect spot to get work done,<br> study, or simply relax with your laptop?</h2>


            </div>
        </div>
        <div class="intro">
            <div class="intro-text">
                <h3>Welcome to Where-to-Study</h3>
                <h4>Your Guide to the Best Study and Work Spots</h4>

                <p>Finding the right place to study or work can be tough, but we’re here to help. Explore a variety of
                    cafés, libraries, and co-working spaces designed to boost your productivity and comfort. Whether you
                    prefer a quiet corner or a lively spot, we’ve got you covered.</p>

                <p>Our platform is completely free and community-driven. Add and share your favorite study spots,
                    helping others find their perfect workspace. Together, we’re building a network of the best study
                    and work environments around the world!</p>

            </div>
        </div>

        <div id="cards-section">
            <h2 class="cards-container-title">Choose your city</h2>
            <div class="cards-container">

                <div class="card paris">
                    <a href="/city/paris">
                        <h4>Paris</h4>
                    </a>
                </div>

                <div class="card milano">
                    <a href="/city/milano">
                        <h4>Milano</h4>
                    </a>
                </div>

                <div class="card tel-aviv">
                    <a href="/city/tel-aviv">
                        <h4>Tel Aviv</h4>
                    </a>
                </div>

                <div class="card new-york">
                    <a href="/city/new-york"><h4>New York</h4></a>
                </div>

                <div class="card london">
                    <a href="/city/london"><h4>London</h4></a>
                </div>

                <div class="card tokyo">
                    <a href="/city/tokyo"><h4>Tokyo</h4></a>
                </div>

                <h4 class="coming-soon">Other cities Coming soon....</h4>
            </div>
        </div>





<%- include("partials/footer.ejs") %>